* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
.main{
    /* background-color: gray; */
    background-color: black;
    width: 100%;
    height: 100vh;
}
img{
    cursor: pointer;
}
.img1, .img2 {
    width: 280px;
    height: 280px;
}
.img5 {
    width: 190px;
    height: 190px;
}
.img3, .img4{
    width: 250px;
    height: 250px;
}
.img6, .img7 {
    width: 250px;
    height: 250px;
}
.upper {
    padding: 0px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.middle {
    margin-top: -140px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.mid-center{
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lower{
    margin-top: -200px;
    display: flex;
    justify-content: space-between;
    padding: 0px 260px;
}

button{
    background: transparent;
    color: aliceblue;
    font-size: 0.3px;
    border-radius: 160px;
    /* cursor: pointer; */
}
/* button:hover{
    box-shadow: 0 0 50px 15px #48abe0;
}
.b:hover{
    box-shadow: 0 0 50px 15px #e66f8a;
}
.c:hover ,.m:hover{
    box-shadow: 0 0 50px 15px #86e278;
} */
.pressed{
    box-shadow: 0 0 50px 15px #48abe0;
}
.foot img{
    width: 100px;
    height: 90px;
    margin-top: -300px;
    margin-left: 10px;
}


@media only screen and (max-width: 500px) {
    .im{
        width: 100px;
        height: 100px;
        display:flex;
        justify-content: space-between;
    }
    .foot img{
        display: none;
    }
    
    button{
        background: transparent;
        color: aliceblue;
        font-size: 0.3px;
        border-radius: 100px;
}
}